.banner{
  background-image: url('../img/contact-banner.png');
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-with-link{}

  .container {
    text-align: right;

    .banner-contant {
      width: 45%;
      position: relative;
      left: 0;
      display: inline-block;
      text-align: center;

      .banner-button {
        //background: $b-bg-ligth;
        //color: $bg-top-blue;
        //border-color: $bg-top-blue;

      }

      .title {
        font-size: 77px;
        line-height: 110px;
        color: $title-black;
        margin: 0;
      }

      .sub-title {
        font-size: 44px;
        line-height: 56px;
        color: $title-black;
        margin: 0 0 15px 0;
      }
    }
  }


  @media (max-width: 767px) {
    height: 310px;
    min-height: 310px;
    .container {
      .banner-contant {
        .title {
          font-size: 46px;
          line-height: 56px;
        }
        .sub-title {
          font-size: 28px;
          line-height: 33px;
        }
      }
    }
  }
  @media (max-width: 470px) {
    height: 200px;
    min-height: 200px;
    .container {
      .banner-contant {
        .title {
          font-size: 36px;
          line-height: 40px;
        }
        .sub-title {
          font-size: 16px;
          line-height: 29px;
        }
      }
    }
  }
}