.main-content{
  .contant-title{
    .contact-us-title{
      text-transform: uppercase;
      font-size: 50px;
    }
  }

  aside{
    width: 30%;
    float: left;
    text-align: center;

    ul{
      list-style: none;
      padding-left: 0;

      table{
        text-align: left;
        margin: auto;
      }
    }
  }

  article{
    float: right;
    width: 68%;

    img{
      width: 100%;
      max-width: 670px;
      display: block;
      margin: auto;
    }
  }

  @media (max-width: 960px) {
    aside,
    article{
      width: 100%;
      float: none;
    }
  }
  @media (max-width: 767px) {
    .contant-title{
      .contact-us-title{
        font-size: 35px;
        margin: 0;
      }
      img{
        width: 100%;
        max-width: 260px;
      }
    }
  }
}