.main-header {
  .header-top {
    background: #000;

    .container {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    .phone-block {
      float: left;
      width: 50%;
      font-size: 22px;

      a {
        color: $white;
        font-weight: 600;

        &:hover{
          color:$fc-text;
        }
      }
    }
    .social-block {
      width: 50%;
      float: right;
      font-size: 22px;
      ul {
        list-style: none;
        text-align: right;
        margin: 0;
        li {
          display: inline-block;

          a {
            color: $white;
          }
        }
      }
    }
  }
  .header-bottom {
    background: $bg-top-blue;
    .container {
      transition: .3s;
      padding-bottom: 20px;
    }

    &.transformed {
      .container {
        padding: 10px 20px 0;
        transition: .3s;
      }

      .custom-logo-link {
        max-width: 265px;
      }
    }

    .custom-logo-link {
      max-width: 265px;
      display: block;
      float: left;

      img {
        height: auto;
        width: 100%;
        display: block;
      }
    }

    .main-nav-wrapper {
      float: right;
      margin-top: 25px;
      transition: .3s;

      .main-nav {
        > .menu {
          margin: 0;
          padding: 0;

          > .menu-item {
            position: relative;
            padding: 0 0 20px;
            margin-bottom: 0;
            list-style: none;
            display: inline-block;
            margin-left: 20px;

            &:first-child {
              margin-left: 60px;
            }

            &.current-menu-item {
              a {
                color: $white;
              }
            }

            a {
              color: $menu-text;
              transition: .3s;
              text-transform: capitalize;;
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }

    .nav-btn {
      display: none;
      font-weight: 100;
      font-size: 36px;
      color: $white;
      text-align: center;
      float: right;
      cursor: pointer;

      .fa {
        margin-right: 0;
      }
    }

    .close-btn {
      position: absolute;
      display: none;
      top: 10px;
      right: 20px;
      color: #000;
      font-size: 36px;
      cursor: pointer;

      .fa {
        margin-right: 0;
      }
    }

    @media (max-width: 960px) {
      .main-nav-wrapper {
        width: 100%;
        height: 100%;
        background: $fc-text-lighter;
        margin-top: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -100%;
        left: 0;
        transition: .8s;
        z-index: 999;

        &.active-mobile {
          top: 0;
        }

        .flex-wrapper {
          width: 480px;
          max-height: 80%;
          //overflow-y: scroll;
        }

        .main-nav {
          display: flex;
          justify-content: center;
          align-items: center;

          >.menu {
            width: 90%;
            max-width: 480px;

            >.menu-item:first-child {
              margin-left: 0;
            }

            >.menu-item {
              text-align: center;
              display: block;
              margin: 0 auto 4px;
              padding-bottom: 0;

              &.menu-item-has-children {
                &>a::after {
                  position: absolute;
                  right: 0;
                  top: 0;
                  height: 100%;
                  width: 50px;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                  vertical-align: middle;
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  line-height: 47px;
                  background: $light-gray;
                  content: '\f0d7';
                }
              }

              >.sub-menu {
                position: static;
                box-shadow: none;
                display: none;
                color:$fc-text;
                list-style: none;
                padding-left: 0;

                a{
                  color:$fc-text;
                  padding: 10px;
                  display: block;
                }
              }

              &:last-child {
                margin-left: 0;

                a {
                  width: 100%;
                  background: $fc-text-darker;
                  font-size: 16px;
                  font-weight: 700;
                  //font-family: $font-special;
                  background: #2c3744;

                  &:hover {
                    border-color: $bg-top-blue;
                    background: $bg-top-blue;
                  }
                }
              }

              &.current-menu-item {
                a {
                  //background: $c-main-first;
                  //color: #fff;
                }
              }

              &>a {
                position: relative;
                border-radius: 5px;
                background: $fc-text-darker;
                display: block;
                font-size: 16px;
                font-weight: bold;
                z-index: 9000;
                text-transform: uppercase;
                padding: 13px 5px;
                color: #fff;
                &:hover {
                  color: #000;
                  background: $fc-text-darker;
                }
              }
            }
          }
        }

        .close-btn {
          display: block;
        }
      }

      .nav-btn {
        display: block;

      }
    }
  }
}