.prefooter {

  .top-info {
    background: $footer-top;

    .container {
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
    .left-side {
      float: left;
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;

        li {
          display: inline-block;
          margin: 0;
          margin-right: 5px;

          h2 {
            margin: 0;
            font-size: 56px;
            line-height: 56px;
            text-transform: uppercase;
          }
        }
      }
      h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin: 0;
      }
    }
    .right-side {
      float: right;
      background: $bg-top-blue;
      color: $white;
      padding: 10px;

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        font-family: $font-text;

        li {
          display: inline-block;
          border-right: 2px solid;
          padding: 0 15px;
          text-align: left;

          &:last-of-type {
            border: none;
          }
        }

        .top-text {
          margin: 0;
          color: $white;
          font-family: $font-text;
          font-size: 17px;
          line-height: 17px;
        }
        .bottom-content {
          margin: 0;
          font-size: 42px;
          line-height: 42px;
          font-weight: 600;
        }
      }
    }

    @media screen and (max-width: 977px) {

      .right-side {
        ul {
          text-align: center;
          li {
            border-bottom: 2px solid;
            border-right: none;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .left-side {
        ul {
          text-align: center;
          display: block;
          li {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  .bottom-info {
    color: $fc-text-lighter;
    background: $bg-bottom-blue;

    .container {
      display: flex;
      flex-flow: row wrap;
    }

    .widget-area {
      width: 23%;
      margin: 1%;

      &.widget-area_second {
        width: 15%;
      }
      &.widget-area_first {
        width: 27%;
      }

      .menu {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin-bottom: 3px;

          a {
            color: $white;

            &:hover {
              color: $fc-text;
              font-weight: 600;
            }
          }
        }
      }

      &.widget-area_socials {
        .social-links {
          text-align: left;
          font-size: 22px;
          list-style: none;
          padding-left: 0;
          li {
            display: inline-block;
            color: $white;

            a {
              color: $white;
            }
          }
        }

      }

      &.contact-block {
        .contacts-list {
          list-style: none;
          padding-left: 0;
        }
      }

      .widget-area-title {
        text-transform: uppercase;
        color: $white;
        font: 600 16px/1.2 $font-text, sans-serif;
        margin-bottom: 15px;

        &:after {
          content: '';
          display: block;
          width: 50px;
          height: 1px;
          background: $white;
          margin-top: 20px;
        }
      }
    }

    @media (max-width: 767px) {
      .widget-area{
        width: 100%;
        margin: auto;

        &.widget-area_first,
        &.widget-area_second {
          width: 100%;
        }
      }
    }
  }
}