@font-face {
  font-family:"Parisian";
  src:url("../fonts/Parisian.eot?") format("eot"),
  url("../fonts/Parisian.woff") format("woff"),
  url("../fonts/Parisian.ttf") format("truetype"),
  url("../fonts/Parisian.svg#Parisian") format("svg");
  font-weight:normal;
  font-style:normal;
}