* {
  box-sizing: border-box;
}

body, html {
  font: 300 16px/1.5 $font-text, sans-serif;
  color: $fc-text;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $title-black;
  font-family: $font-title;
  font-weight: 400;
}

h1, .h1 {
  text-align: left;
  font-size: 40px;

  &.title_default {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

h2, .h2 {
  text-align: center;
  font-size: 35px;
}

h3, .h3 {
  text-transform: none;
  font-size: 21px;
  font-weight: 400;
}

h4, .h4 {
  font-size: 18px;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 16px;
}

.big-title {
  font: 400 60px/1.2 Open Sans;
}

a {
  text-decoration: none;
  transition: .3s;
  color: $white;
}

ul {
  li {
    margin-bottom: 3px;
  }
}

.fa {
  margin-right: 10px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 100%;
  max-width: $max-width-default;
  margin: 0 auto;
  padding: 20px;

}

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  font: 300 16px/1.2 $font-text, sans-serif;
  border: 2px solid $title-black;
  background: $footer-top;
  color: $title-black;

  &:hover {
    background: $title-black;
    color: $footer-top;
  }
}

.img-center {
  text-align: center;
}

ul {
  &.bullets {
    li {
      position: relative;
      list-style: none;

      &:before {
        position: absolute;
        content: '';
        border-radius: 50%;
        display: inline-block;
        width: 6px;
        height: 6px;
        top: 8px;
        left: -14px;
        //background: $c-main-second;
      }
    }
  }
}

.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.social-links {
  a {
    &:hover {
      color: $fc-text!important;
    }
  }
}



