/**
  Theme Colors
*/
$bg-top-blue: #393b3a;
$bg-bottom-blue:#393b3a;
$bg-list:#f1f1f1;
$white:#ffffff;

$footer-top: #dbdbdb;

$bg-table-title:#bababa;

/**
  Font colors
*/
$fc-text: #565957;
$fc-text-lighter: #f3f5f6;
$fc-text-darker: #465363;
$fc-text-alt: #98c3e4;

$menu-text: #999999;

$fc-btn-default: #fff;
$text-gray:#595959;

$light-gray: #b9b9b9;

$title-black: #000000;


/**
  Defaults
*/
$font-title: 'Parisian';
$font-text: 'Open Sans';

/**
  Border-color
*/
$c-border: #ededed;
$max-width-default: 1144px;

$c-border-gray:#d6d6d6;

/**
  Socials special colors
*/


/**
Button colors
*/
